
html{
	scroll-behavior: smooth;
}
*{
	padding: 0;
	margin:0;
	font-family: 'Quicksand', sans-serif;

}
header{
	height: 70px;
	
	
}
header h1{
	
	display: inline-block;
	float: left;
	padding: 15px 24px;
}
header h1 a:hover{
	color:#ffbdbd;
}
header h1, a{
	transition: .3s;
	color: black;
}
header ul{
	
	float:right;
}
header ul li{
	
	padding: 24px;
	display: inline-block;
	
}
header ul li a:hover{
	color: #ffbdbd;
}
header ul li a{
	transition: .3s;
	color:black;
}

a{
	text-decoration: none;
}
.container{
	width: 90%;
	margin: auto;
	
}
.container::after{
	content: '';
	display: block;
	clear: both;
}
#check{
	display: none;
}
.mobile-menu{
	float: right;
	display: none;
	padding: 18px;
	
}
.mobile-menu:hover{
	cursor: pointer;
}
.sidebar{
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px;
	background-color: rgb(201,201,255, .9);
	transition: .3s;
	z-index: 9999;
}
.sidebar ul li a{
	color: white;
}
.sidebar ul li:hover{
	background-color: #e1f7d5;
}
.sidebar ul li{
	padding: 24px;
	transition: .3s;
	transition-property: background-color;
}
#check:checked ~ .sidebar{
	left: 0;
}
section{
	padding: 50px 0;
}
.banner{
	padding: 120px 0;
	background-color: #ffbdbd;
}
.banner img{
	width: 100px;
	border-radius: 10px;
	box-shadow: 0 3px 5px #ddd;
	margin-bottom: 10px;
}
.banner h2 , p{
	color: white;
}
.banner h2{
	margin-bottom: 10px;
}
.banner p{
	font-size: 18px;
}
.banner-left{
	
	padding-left: 24px;
}

section h3{
	padding-bottom: 20px;
	margin: 20px;
	text-align: center;
	position: relative;
}
section h3::before{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 120px;
	height: 1px;
	background-color: #ddd;
	left: calc(50% - 60px);
}
section h3::after{
	content: '';
	display: block;
	position: absolute;
	bottom: -1px;
	width: 40px;
	height: 4px;
	background-color: red;
	left: calc(50% - 20px);
}
#about p{
	color: black;
	text-align: justify;
	text-indent: 30px;
	line-height:25px;
	margin-bottom: 15px;
}
#skills{
	background-color: #ffbdbd;
	color: white;
}
#skills .bar{
	height: 30px;
	background-color: #fff;
	border: 1px solid #ddd;
	margin: 5px 0 20px 0;
}
.bar .nilai{
	height: 30px;
	
	background-color: #c9c9ff;
	display: block;
	color: #fff;
	text-align: center;
}
.ngopi{
	width: 80%;
}
.ngudud{

	width: 90%;
}
.nganggur{
	width: 70%;
}
.col-4{
	width: 25%;
	box-sizing: border-box;
	padding: 10px;
	float: left;
	text-align: center;
	margin-bottom: 15px;
}
.col-4 img{
	width: 100%;
}
.col-4 a:hover img{
	transform: scale(1.2);
}

#contact{
	background-color: #ffbdbd;
}
#contact h3,h4, p{
	color: white;
}
#contact h4{
	font-size: 20px;
}
#contact  p{
	font-size: 18px;
}

.col-3{
	width:33.30%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding: 50px 10px;
}
.col-3 h4{
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}
footer{
	background-color: #c9c9ff;
	padding:30px;
	text-align: center; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
}

li a:hover, .dropdown:hover .dropbtn {
    color: #ffbdbd;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.show {display:block;}

@media(max-width: 768px){
	.mobile-menu{
		display: block;
	}
	header ul{
		display: none;
	}
	.col-4{
		width: 50%;
	}
	.col-3{
		width: 100%;
	}
}
